<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marvin.mapper.CommentMapper">

    <select id="getCommentListById" resultType="com.marvin.bean.vo.CommentVo">
        select c.id,c.user_id,c.movie_id,c.content,c.created,
               u.nick_name,u.avatar
            from comment c inner join user u on c.user_id = u.id
                ${ew.customSqlSegment}
    </select>
</mapper>
